version: "3.7"
services:
  kaddem-api:
    image: kaddem-image
    restart: always
    ports:
      - 9090:9090
    depends_on:
      - mysqldb

  mysqldb:
    image: "mysql:8.0"
    restart: always
    ports:
      - 3306:3306

    environment:
      MYSQL_DATABASE: kaddemProject
      MYSQL_ALLOW_EMPTY_PASSWORD: yes
